<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <a href="#content" class="skip-link">Menuju ke konten</a>
    <header class="header">
      <nav class="navbar">
        <img class="nav-image" src="./images/heros/burger.png" alt="" />
        <ul class="nav-menu">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Favorite</a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/NurrachmatGuntur" class="nav-link"
              >About Me</a
            >
          </li>
        </ul>
        </nav>
        <main>
          <a class="hamburger" href="#">☰</a>
        </main>
      </nav>
    </header>
    <jumbotron>
      <img class="hero" src="./images/heros/hero-image_2.jpg" alt="" />
    </jumbotron>
    <!-- Product  -->
    <div class="header-card"><h1>Explore Restaurant</h1></div>
    <article id="content"></article>

    <!-- FOOTER  -->
    <footer>
      <section class="penutup">
        <div>
          Tugas Dicoding Copyright © 2023 - Hunger Apps
        </div>
      </section>
    </footer>
  </body>
</html>
